# Exclude Allure reports from GitHub language stats
target/allure-report/** linguist-vendored
target/allure-results/** linguist-vendored

# Exclude Cucumber HTML reports
target/cucumber-reports/** linguist-vendored

# Exclude TestNG output reports
test-output/** linguist-vendored

# Exclude screenshots and logs
Screenshots/** linguist-vendored
logs/** linguist-vendored
