# Exclude Allure reports
target/allure-report/** linguist-vendored
target/allure-results/** linguist-vendored

# Exclude Cucumber reports
target/cucumber-reports/** linguist-vendored

# Exclude TestNG output reports
test-output/** linguist-vendored

# Exclude screenshots and logs
Screenshots/** linguist-vendored
logs/** linguist-vendored

# Exclude additional HTML reports directly under target
target/*.html linguist-vendored
